 @using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IOTManagementGroup7.Models.ViewModels.SensorHomeVM
@{
    ViewData["Title"] = "Show";
}
<h3 class="font-italic font-weight-lighter">
    <a asp-controller="Project" asp-action="Index">Danh sách phòng</a>
</h3>
<hr />
<h3 class="m-0 font-weight-bold text-dark">
    <i class="fas fa-home"></i>
    PHÒNG: @Model.Project.Name
</h3>
<div class="row">
    @foreach (var sensor in Model.Sensors)
    {
        <div id="@sensor.Id" class="col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2">
                    <div class="row float-right">
                        <a class="btn btn-primary text-light mr-1" asp-area="AuthCustomer" asp-controller="Sensor" asp-action="Upsert" asp-route-id="@sensor.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-light" onclick='Delete("/AuthCustomer/Sensor/Delete/@sensor.Id","@sensor.Id")'>
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <a asp-area="AuthCustomer" asp-controller="Device" asp-action="Index" asp-route-id="@sensor.Id">
                        <img src="\images\sensor\sensor.png" class="chart-pie pt-4" />
                    </a>
                    <hr>
                    Bảng điều khiển: <code>@sensor.Name</code><br />
                </div>
            </div>
        </div>
    }
    <div id="" class="col-xl-3 col-lg-5" style=" margin-right: 10px;">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->

            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">
                    <i class="fas fa-wrench"></i>
                    THÊM BẢNG ĐIỀU KHIỂN
                </h5>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <a asp-area="AuthCustomer" asp-controller="Sensor" asp-action="Upsert">
                    <img class="chart-pie pt-4" src="~/images/sensor/basic/add.png" alt="Alternate Text" />
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/sensor.js"></script>
}